@tailwind base;
@tailwind components;
@tailwind utilities;

.satoshi * {
  font-family: 'Satoshi', sans-serif;
}
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  }
}